<table class="table">

    <thead class="thead-dark">

        <tr>
            <th scope="col">#</th>
            <th scope="col">Numéro</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Métier</th>
        </tr>

    </thead>

    <tbody>

        {{#each directory}}
        <tr>
            <th>{{id}}</th>
            <th>{{phone_number}}</th>
            <th>{{last_name}}</th>
            <th>{{first_name}}</th>
            <th>{{job}}</th>
        </tr>
        {{/each}}

    </tbody>

</table>